<div class="alert @AlertClass" role="alert">
	@if (!string.IsNullOrEmpty(Title))
	{
		<h4 class="alert-heading">@Title</h4>
		<div>
			@ChildContent
		</div>
	}
	else
	{

		@ChildContent
	}
</div>



@code {
	public enum AlertType
	{
		Primary,
		Secondary,
		Success,
		Danger,
		Warning,
		Info,
		Light,
		Dark
	}

	[Parameter]
	public AlertType Type { get; set; } = AlertType.Primary;

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public string? Title { get; set; } = "";

	string? AlertClass => $"alert-{Type.ToString().ToLower()}";



	protected override void OnInitialized()
	{
		Console.WriteLine("ALERT: OnInitialized");
	}



	protected override void OnParametersSet()
	{
		Dump();
	}

	

	// This is also the place to put any JavaScript Interop calls when using server-side Blazor.

	protected override void OnAfterRender(bool firstRender)
	{
		Console.WriteLine($"ALERT: OnAfterRender First:{firstRender}");
	}



	private void Dump()
	{
		Console.WriteLine($"ALERT: {Type} -- {Title} -- {ChildContent?.ToString() ?? "xxx"}");
	}
}
