@page "/"
@using BlazorDemoTim.Client.Common

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />



<p>
	Counter: @UserState?.Counter
</p>


@if (UserState?.TodaysTemperature != null)
{
	<p>Today's Temperature: @UserState.TodaysTemperature</p>
}


@if (UserState?.TotalMileage != null)
{
	<p>Total Rides: @UserState.TotalRides</p>
	<p>Total Mileage: @UserState.TotalMileage</p>
}


@code {

	[CascadingParameter]
	UserState? UserState { get; set; }
}
